%h1.green-bg.title-content Blog - Details
#blogs-list
  .blog
    .title-post
      .avartar
        = image_tag @blog.user.avatar_url, alt: 'user profile photo'
      .post-info
        .user-post
          %a{:href => ""} 
            = @blog.user.name
        .time
          %i.fa.fa-globe{"aria-hidden" => "true"}>
           ·
          %time 
            = @blog.user.created_at
    .content-post
      .main-content-post
        %span.preview-content
          = @blog.content
      .detail-views
        .n-vews
          %i.fa.fa-eye{"aria-hidden" => "true"}
          %span 
            = @blog.views