.login-page
  .form
    = render 'users/shared/errors'
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      = f.text_field :name, placeholder: 'name', autofocus: true
      = f.text_field :student_id, placeholder: 'student id'
      = f.email_field :email, placeholder: 'email', autofocus: true
      = f.password_field :password, placeholder: 'password', autocomplete: 'off'
      = f.password_field :password_confirmation, placeholder: 'password confirmation', autocomplete: "off"
      = f.file_field :avatar, placeholder: 'profile photo'
      = f.button "Sign up"
    = render "users/shared/links"
